.text-end{
    background-color:rgb(207, 223, 248) ;
    color: rgb(36, 81, 229);
    width: fit-content;
    border-radius: 12px;
    padding: 5px;
    font-size: 13px;
}

.custom-width-datepicker {
    width: 100%;
  }
 
  .FamilyDet{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;

}



.error-message{
    color: red;
    margin-top: 10px;
    font-size: 14px;
   

}

.labelss{
    display: flex;
    margin-top: 1px;
    font-size: 13px;
    color: black;

    line-height: 20px;
    font-weight: 500;
}

.forms{
    display: flex;
    flex-direction: column;
   
    background-color:
    #FFFFFF;
  
   
    padding: 20px;
    /* box-shadow: 1px 1px 3px 1px rgb(217, 215, 215); */
    border-radius: 0px 0px 10px 10px;
    /* color: rgb(210, 164, 250); */
}

/* Custom progress bar color */
.custom-progress-bar .progress-bar {
    background-color: rgb(149, 89, 201);
  }
  


.buttonss{
   
    background-color: 
    #7F56D9;
    border-color: white;
    font-weight: 400;
}
.icon{
    font-weight:bold;
    width: 20px;
    height: 20px;
}
.heading{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

@media(max-width:750px){
   Form  {
        overflow: scroll;
}
body{
    margin: 0;
    padding: 0;
}
}



.mt{
    margin-top: -9px;
   
}
.ms{
    margin-left: -10px;
    margin-bottom: 3px;
}