.text-end {
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 12px;
  padding: 5px;
  font-size: 13px;
}


.custom-width-datepicker {
  width: 100%;
}

.FamilyDet {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.labelss {
  display: flex;
  margin-top: 1px;
  font-size: 13px;
  color: black;

  line-height: 20px;
  font-weight: 500;
}

.forms {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

/* Custom progress bar color */
.custom-progress-bar .progress-bar {
  background-color: rgb(149, 89, 201);
}

.buttonss {
  background-color: #7f56d9;
  border-color: white;
  font-weight: 400;
}
.icon {
  font-weight: bold;
  width: 20px;
  height: 20px;
}
.heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 750px) {
  Form {
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
  }
}

.mt {
  margin-top: -9px;
}
.ms {
  margin-left: -10px;
  margin-bottom: 3px;
}

.TicksImage {
  margin-top: -24px;
  margin-left: -1px;
}
.Bar {
  display: flex;
}
.fileName {
  width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.phoneInput {
  display: flex;
}
.phoneDiv {
  margin-bottom: 22px;
}

.phoneInput select {
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px 0px;
  padding-left: 6px;
  border-right: 0px;
  font-size: 14px;
  height: 38px;
}
.phoneInput input {
  border-radius: 0px 8px 8px 0px;
  border-left: 0px;
  width: 500px;
  padding: 10px;
  font-size: 14px;
  height: 38px;
}
.phoneInput {
  margin-top: -10px;
}

.text-danger {
  font-size: 14px;
}
input::placeholder {
  font-size: 13px;
}

/* form modal */

.form-modal-body{
  padding: 18px;
}
.form-modal-content h3{
  color: #344054;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;

}
.form-modal-content p{
  color: #4E5562;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.form-modal-buttons {
  display: flex;
  justify-content: space-between;
}

.form-button-no {
  border-radius: 8px;
  padding: 10px 18px;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #6941C6;
  width: 48%;
  border: 1px solid #6941C6;
  background: #F9F5FF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.form-button-yes {
  width: 48%;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid var(--Brand-600, #7F56D9);
  background: var(--Primary, #7F56D9);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid var(--Brand-600, #7F56D9);
  background: var(--Primary, #7F56D9);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

/* form submission page */

.success-icon {
  color: green; 
  font-size: 3rem; 
}

.success-container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-actions {
  margin-top: 20px;
}

.close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.close-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
