p {

  font-weight: 500;

}

.btn {
  white-space: nowrap;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;

  /* background-color: #7F56D9; */
  /* color: white;
  margin-right: 30px; */

}

#b:hover {
  font-size: 17px;
  border-radius: 8px;
  background-color: #7F56D9;
  color: white;

}

.btn-page {
  border-radius: 8px;

}


li:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.icon2:hover,
.icon:hover {
  transform: scale(1.2);

}

.violet {
  background-color: #f4eafa !important;
  color: #7F56D9;

}

.green {
  background-color: #e9f8ee !important;
  color: rgb(12, 139, 12);
}

.orange {
  background-color: rgb(250, 243, 230) !important;
  color: orange;
}

.blue {
  background-color: rgb(231, 231, 250) !important;
  color: rgb(20, 85, 196);
}

.icon2 {
  margin-left: 24px;
}

.head {
  border-bottom-style: none;
}


.addCandidateModal {
  width: 400px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  /* margin: 20px 0px; */
}

.black-shade {
  filter: blur(10px);
  background-color: #5a5a5a;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.pagination{
  display: flex;
 
}


.btn-no,
.btn-yes {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-no:hover,
.btn-yes:hover {
  background-color: white !important;
  border-color: white !important;
  color: #A020F0 !important;
}

.page-link {
 
  color: black;
}

.one{
  border: none;
}

.active{
 
  color: #7F56D9 !Important;
  border: none;
  background-color: #f4eafa !Important;
  border-radius: 8px;
}

.na {
  color: black;
  border: 1px solid rgba(239, 241, 244, 1);
}

.na:hover {
  color: black;
}

.n {
  color: black;
  border: 2px solid rgba(239, 241, 244, 1);
}

.na.active {
  color: black;
  background-color: rgba(239, 241, 244, 1);
}


.deleteModalBody {
  padding: 18px;
}

.deleteModalContent h3 {
  color: #344054;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;

}

.deleteModalContent p {
  color: #4E5562;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.deleteModalButtons {
  display: flex;
  justify-content: space-between;
}

.deleteButtonNo {
  border-radius: 8px;
  padding: 10px 18px;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #6941C6;
  width: 48%;
  border: 1px solid #6941C6;
  background: #F9F5FF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.deleteButtonYes {
  width: 48%;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid var(--Brand-600, #7F56D9);
  background: var(--Primary, #7F56D9);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid var(--Brand-600, #7F56D9);
  background: var(--Primary, #7F56D9);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.modal-dialog {
  max-width: none;
  width: 22%;
}

@media(max-width: 500px) {


  .icon2 {
    margin-left: 13px;
  }

  .btn-page {
    border-radius: 8px;

  }

  .addCandidateModal {
    width: 100%;
    height: 100%;
  }
  
.modal-dialog {
  max-width: none;
  width: 95%;
}
}

@media(max-width: 700px) {
  .modal-dialog {
    max-width: none;
    width: 95%;
  }

}

@media(max-width: 300px) {
  .modal-dialog {
    max-width: none;
    width: 86%;
  }

}