p {

  font-weight: 500;

}

.btn {
  white-space: nowrap;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  /* background-color: #7F56D9; */
  /* color: white;
  margin-right: 30px; */

  
}

#b:hover{
  font-size: 17px;
  border-radius: 8px;
  background-color: #7F56D9;
  color: white;

}

.btn-page {
  border-radius: 8px;

}

button:hover {
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
}

li:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.icon2:hover,
.icon:hover {
  transform: scale(1.2);

}

.violet {
  background-color: #f4eafa !important;
  color: #7F56D9;

}

.green {
  background-color: #e9f8ee !important;
  color: rgb(12, 139, 12);
}

.orange {
  background-color: rgb(250, 243, 230) !important;
  color: orange;
}

.blue {
  background-color: rgb(231, 231, 250) !important;
  color: rgb(20, 85, 196);
}

.icon2 {
  margin-left: 24px;
}
.head{
  border-bottom-style: none;
}


.addCandidateModal {
  width: 400px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  filter: blur(5px);
}
.pagination{
  display: flex;
}

.btn-no,
.btn-yes {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-no:hover,
.btn-yes:hover {
  background-color: white !important; 
  border-color: white !important;    
  color:#A020F0 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
   border: none;
}

.pagination{
  color: black;
  background-color: white;
}

.pagination > .active > a
{
    color: #7F56D9;
    background-color: #f4eafa !Important;
 
}

.pagination > .active > a:hover
{
    background-color:#f4eafa !Important;
    color: #7F56D9;
}
.page-item{
  border: none;
}



@media(max-width: 500px) {


  .icon2 {
    margin-left: 13px;
  }

  .btn-page {
    border-radius: 8px;
   
  }
}