.header1{
    background: white;
    height:100%;
    width:100%;
    height: 450px;

}


.header2{
    /* border-color: rgb(81, 81, 204); */
    display : flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    background: white;
    border-radius: 20px;
    padding-bottom: 20px;
    height:450px;
    width: 450px;
    padding: 10px 30px;
    border-color: rgb(106,90,205);
    border-style: solid;
    border-width: 1px;
    /* transition: height 0.1s ease-in-out; */
}

/* .header2.has-errors{
    height: 500px;
} */



.subhead{
    /* color: #3C009D; */
    padding-top: 20px;
    display: flex;
   justify-content: center;
    width: 276px;
    height: 38px;
    line-height: 37.52px;
    
    font-size: 31px;
    font-weight: 300;
    inline-size: auto;
    margin-bottom: 50px;
}


/* .details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 100px;
    background: white;
    /* border-radius: 50px;
    border-color: #3C009D;
    border-style: solid; */
    /* background-color: white;
    font-size: 50px;
} */ 
/* .details img{
    margin: 0px 5px;
    height: 20px;

   
} */
.Logo{
    display: flex;
    justify-content: center;
}
.logo-img{
   height: 150px;
   width: 200px;
   
  
   
}
/* .details details{
    height: 35px;
    width: 500px;
    align-items: center;
    border-radius: 10px;
    border-color: darkgray;
    border-width: 0.5px;
    gap: 5px;
    /* border: 100px;
    outline: black; */
    /* font-size: 15px;
    padding-left: 20px; */
/* }  */
.forgot-password{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.Frgtpass{
    text-decoration: none;
    color:#4D4D4D ;
    font-weight: 300;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    margin-top: 30px;
    
}
.btn-login{
    cursor: pointer;
    background-color: 
    #7F56D9;
    border-radius: 8px;
    
    border: none;
    padding: 10px;
    /* padding-left: 10px;
    padding-right: 20px; */
    width:400px ;
    margin-top: 34px;
    font-size: 18px;
    font-weight: 450;
    align-items: center;


}
.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: white;
    background: #3C009D;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.email{
    text-align: left;
    padding-left: 23px;
    padding-bottom: -10px;
    font-family: 'Inter', sans-serif;
}
.pswrd{
    padding-bottom: -50px;
    text-align: left;
    padding-left: 23px;
    padding-bottom: -10px;
    font-family: 'Inter', sans-serif;
}

.labelss{
    font-weight: 450;
    margin-top: 12px;
    font-size: 14px;
   
}

.mb-3{
    margin-top: 20px;
}

.input-field{
    font-size: 14px;
    border-radius: 8px;
    border-width: 1.5px;
}

.submit-box{
    align-items: center;
    margin-left: -6px;
    /* padding-bottom: 100px; */
}
.EmailInput{
   
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
   
}
.box{
    width: auto;
    height: 20px;
    background-color: white;
   
    display: flex;
    align-items: center;
    padding: 20px;
}
.MailIcon{
font-size: 17px;
color: #777;
margin-left: -10px;

}
.InputEmail{
    flex: 1;
    height: 40px;
    width: 350px;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left:10px ;

}
.InputEmail::placeholder{
    font-size: 14px;
}
.Frgtpass{
    font-weight: 340;
}

/* .error-message{
   
    line-break: px;
    padding-right: 500px;
} */


/* .box form-control{
    height: 500px;
} */

/* .has-errors{
    height: 500px;
} */
.error-message{
 color: red;
 font-weight: 450;
 line-height: 5px;
    

}
.inputSize{
    height: 40px;
}