
.phoneInput {
    display: flex;
}
.phoneDiv {
    margin-bottom: 22px;
}

.phoneInput select {
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 10px 0px;
    padding-left: 6px;
    border-right: 0px;
    font-size: 14px;
    height:38px;


   

   
}
.phoneInput input {
    border-radius: 0px 8px 8px 0px;
    border-left: 0px;
    width: 500px;
    padding: 10px;
    font-size: 14px;
    height:38px;

}
.phoneInput{
    margin-top: -10px;
}
body{
    overflow-x: hidden;
}
.green {
    background-color: #e9f8ee !important;
    color: rgb(12, 139, 12);
  }